<footer class="footer">
   <div class="container">
      <div class="footer__row">
         <div class="footer__column">
            <h5 class="footer__title">Master House</h5>
            <p>ремонт квартир под ключ</p>
         </div>
         <div class="footer__column">
            <p>Время работы офиса</p>
            <p>
               Будние дни с 9:00 до 18:00 <br>
               Суббота с 9:00 до 16:00 <br>
               Воскресенье выходной
            </p>
         </div>
         <div class="footer__column footer__contacts">
            <p>+38 096 72 99 393</p>
            <p>masterhouse23@mail.ru</p>
            <a class="button">Заказать обратный звонок</a>
         </div>
      </div>
      <div class="footer__row">
         <span>Информация, указанная на данном сайте, носит справочный характер и не является публичной офертой</span>
         <span>Сайт разработан для конкурса ITALENT</span>
      </div>
      <div class="footer__row">
         <span>ООО “Мастер Хаус” ИНН 1234567 ОГРН 34234234</span>
         <span>(С) Все права защищены. 2021 </span>

      </div>
   </div>
</footer>